<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="mat.dong.san.board.model.vo.Board" alias="Board"/>
		<typeAlias type="mat.dong.san.board.model.vo.BoardAttachment" alias="BoardAttachment"/>
		<typeAlias type="mat.dong.san.board.model.vo.BoardType" alias="BoardType"/>
		<typeAlias type="mat.dong.san.board.model.vo.BoardComment" alias="BoardComment"/>
		
		<!-- 멤버 -->
		<typeAlias type="mat.dong.san.member.vo.Member" alias="Member"/>
		<typeAlias type="mat.dong.san.member.vo.EstateAgent" alias="EstateAgent"/>	
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/board-mapper.xml"/>
		<mapper resource="mapper/member-mapper.xml"/>
	</mappers>
</configuration>