<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SearchRoomMapper">
  <select id="selectProductCount" resultType="_int">
  	select 
  	count(*) 
  	from product 
  	where P_DEL_YN = 'N'
  	<if test="searchInput != null">
  		and p_addr like '%' || #{searchInput} || '%'
  	</if>
  </select>
  
  <select id="selectProductList" resultType="Product">
  	select
  	*
  	from product
  	where P_DEL_YN = 'N'
  	<if test="searchInput != null">
  		and p_addr like '%' || #{searchInput} || '%'
  	</if>
  	order by P_ID desc
  </select>
 
  <select id="selectProductFilterCount" resultType="_int">
  	select 
  	count(*)
  	from product 
  	where P_DEL_YN = 'N'
  	<if test='searchInput != ""'>
  		and p_addr like '%' || #{searchInput} || '%'
  	</if>
  	<if test='parkType != "무관"'>
  		and P_PARK like '%' || #{parkType} || '%'
  	</if>
  	<if test='petType != "무관"'>
  		and P_PET '%' || #{petType} || '%'
  	</if>
  	<if test='eleType != "무관"'>
  		and P_ELEVATOR like '%' || #{eleType} || '%'
  	</if>
  	<if test="roomType != null">
  		and
  		<foreach item="item" collection="roomType" separator="or" open="(" close=")">
  			p_kind like '%' || #{item} || '%'
  		</foreach>
  	</if>
  	<if test="tradeType != null">
  		and
  		<foreach item="item" collection="tradeType" separator="or" open="(" close=")">
  			P_DEAL like '%' || #{item} || '%'
  		</foreach>
  	</if>
  	<if test="buildType != null">
  		and
  		<foreach item="item" collection="buildType" separator="or" open="(" close=")">
  			P_FIELD like '%' || #{item} || '%'
  		</foreach>
  	</if>
  </select>
  <select id="selectFilterList" resultType="Product">
  	select 
  	*
  	from product 
  	where P_DEL_YN = 'N'
  	<if test='searchInput != ""'>
  		and p_addr like '%' || #{searchInput} || '%'
  	</if>
  	<if test='parkType != "무관"'>
  		and P_PARK like '%' || #{parkType} || '%'
  	</if>
  	<if test='petType != "무관"'>
  		and P_PET '%' || #{petType} || '%'
  	</if>
  	<if test='eleType != "무관"'>
  		and P_ELEVATOR like '%' || #{eleType} || '%'
  	</if>
  	<if test="roomType != null">
  		and
  		<foreach item="item" collection="roomType" separator="or" open="(" close=")">
  			p_kind like '%' || #{item} || '%'
  		</foreach>
  	</if>
  	<if test="tradeType != null">
  		and
  		<foreach item="item" collection="tradeType" separator="or" open="(" close=")">
  			P_DEAL like '%' || #{item} || '%'
  		</foreach>
  	</if>
  	<if test="buildType != null">
  		and
  		<foreach item="item" collection="buildType" separator="or" open="(" close=")">
  			P_FIELD like '%' || #{item} || '%'
  		</foreach>
  	</if>
  </select>
 
</mapper>
