<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">
	
	<select id="selectEstateAgent" parameterType="EstateAgent">
		SELECT *
		FROM PRODUCT
		JOIN PRODUCT_APPLICATION ON(PRODUCT.P_ID = PRODUCT_APPLICATION.P_ID)
		JOIN ESTATEAGENT ON(ESTATEAGENT.E_ID = PRODUCT_APPLICATION.E_ID)
		WHERE PRODUCT.P_ID=#{p_id}
		
	</select>
	
	

</mapper>
