<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SearchRoomMapper">

	<select id="selectProductCount">
		select count(*) from product where P_DEL_YN = 'N';
	</select>

	<select id="selectProductRoom" resultType="Product">
		select *
		from product
		where P_ID=#{p_id}
	</select>

</mapper>
