<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"  >
<mapper namespace="productMapper">
	<!--  매물 올리기 -->
	<insert id="postRoom">
		insert into Product
		values( SEQ_P_ID.nextval , #{p_addr}, #{p_coord}, default, default, #{p_field}, #{p_floor}
		, #{p_size}, #{p_str}, #{p_kind}, #{p_room}, #{p_s_size}, #{p_d_size}, #{p_layer}, #{p_deal}, #{p_charter}, #{p_rent}, #{p_deposit}, #{p_cost}
		, #{p_cost_item}, #{p_en_d}, #{p_content}, #{p_heat}, #{p_dir}, #{p_park}, #{p_elevator}, #{p_verander}, #{p_pet}, #{p_built_in}
		, #{p_loan}, #{p_option}, #{p_picture} , sysdate, 'N' , 'N', #{us_id})
	</insert>
	
	<!--매물 가져오기   -->
	<select id="selectBoardDetail"  resultType="Product" >
		select *
		from product
		where us_id=#{us_id} and p_del_yn='N'
	</select>

	<!-- 일반회원 매물 리스트 카운트다운-->
	<select id="productListCount" resultType="_int">
		select count(*)
		from Product
		where p_content like '%' || #{productSearchValue} || '%'
 		<if test='productSearchCondition == "원룸"'>
 		and p_kind='원룸'
  		</if>
  		<if test='productSearchCondition == "투룸"'>
  		and p_kind='투룸'
  		</if>
  		<if test='productSearchCondition == "쓰리룸"'>
		and p_kind='쓰리룸'
  		</if>
	</select>
	
	<!-- 검색 없이 가져오기 -->
	<select id="getProductListCount" resultType="_int">
		select count(*)
		from Product
	</select>
		
	<!-- 일반회원 매물 리스트  -->
	<select id="selectProductList" resultType="Product">
		select *
		from Product
		where p_content like '%' || #{productSearchValue} || '%'
 		<if test='productSearchCondition == "원룸"'>
 		and p_kind='원룸'
  		</if>
  		<if test='productSearchCondition == "투룸"'>
  		and p_kind = '투룸'
  		</if>
  		<if test='productSearchCondition == "쓰리룸"'>
		and p_kind = '쓰리룸'
  		</if>
	</select>
    
</mapper>