<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="mat.dong.san.estate.vo.Estate" alias="Estate"/>		
		<typeAlias type="mat.dong.san.estate.vo.Note" alias="Note"/>
		<typeAlias type="mat.dong.san.estate.vo.Review" alias="Review"/>
		<typeAlias type="mat.dong.san.estate.vo.SearchCondition" alias="SearchCondition"/>
		<typeAlias type="mat.dong.san.estate.vo.ProductApplication" alias="ProductApplication"/>
		
		<typeAlias type="mat.dong.san.member.vo.Member" alias="Member"/>
		<typeAlias type="mat.dong.san.member.vo.EstateAgent" alias="EstateAgent"/>		
		<typeAlias type="mat.dong.san.product.vo.Product" alias="Product"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/estate-mapper.xml"/>
		
		<mapper resource="mapper/member-mapper.xml"/>
		<mapper resource="mapper/searchRoom-mapper.xml"/>
	</mappers>
</configuration>
